apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: node-nodevfile-nodocker-rhtap-three-component-scenarios-zyqt
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-eemz-tenant/mc-three-scenarios/node-nodevfile-nodocker-rhtap-three-component-scenarios-zyqt@sha256:f20b41822dc3c8131a751fcb3b308c22c03012f2baee9580e7493a3d00f7e1f5
        name: my-nodejs
        resources: {}
status: {}
