apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-docker-python-rhtap-three-component-scenarios-5e44
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-eemz-tenant/mc-three-scenarios/devfile-docker-python-rhtap-three-component-scenarios-5e44@sha256:fbe72805e56e32ebe26339512e9b643b44b2ab70255253553b830222bae2d732
        name: my-python
        resources: {}
status: {}
